/* ===== GLOBAL / RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Outfit", sans-serif;
    background-color: #f4f4f9;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* ===== FONTS ===== */
@font-face {
    font-family: regfont;
    src: url("Nexa-ExtraLight.ttf");
}

/* ===== NAVBAR ===== */
.navbar {
    background-color: #0000008c;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    backdrop-filter: blur(25px);
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 30px;
    font-family: regfont;
    align-items: center;
    white-space: nowrap;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 6px 4px;
    display: inline-block;
    font-family: regfont;
    line-height: 1;
}

.navbar-links a:hover {
    color: #aac1e6;
}

/* Navbar responsive */
@media (max-width: 450px) {
    .navbar-links {
        gap: 16px;
    }

    .navbar-links a {
        font-size: 0.7rem;
        padding: 6px 2px;
    }
}

.login-container {
    padding: 30px 40px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 50%;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-row input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-row input:focus {
    background: #1c5899;
    outline: none;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: #1c5899;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1c589969;
}