html {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
 

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 2px solid black;
    padding: 10px;
}
.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 300px;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 400px
}
.right {
    position: absolute;
    bottom: 0;
    right: 50px;
    left: 860px;
    border-left: none;
}
.topnav {
    z-index: 9999;
    position: relative;
    display: flex;
    align-items: center;
}

.search-container {
    position: absolute;
    left: 50%;
    right: 20px;
    display: flex;
    align-items: center;
}

.searchbar {
    padding: 10px;
    padding-right: 35px;
    font-size: 14px;
    text-align: left;
    flex: 1;
}

.search-icon {
    position: absolute;
    right: 10px;
    pointer-events: none;
    font-size: 16px;
}

.towndropdown {
    padding: 10px;
    font-size: 14px;
    text-align: left;
    margin-left: 1rem;
}
.hero-image {
    background-image: url(image.webp);
    height: 400px;
    width: 1980px;
}
