* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  background-color: #000000a1;
  padding: 10px 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  margin-bottom: 50px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  white-space: nowrap;
}

.navbar-links li {
  display: inline-block;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  line-height: 1;
  padding: 6px 4px;
  display: inline-block;
}

.navbar-links a:hover {
  color: #aac1e6;
}

@media (max-width: 560px) {
  .navbar-links {
    gap: 16px;
  }
  .navbar-links a {
    font-size: 0.8rem;
    padding: 6px 2px;
  }
}

/* Responsive Navbar */
@media (max-width: 450px) {
  .navbar-links {
    gap: 16px;
  }
  .navbar-links a {
    font-size: 0.7rem;
    padding: 6px 2px;
  }
}

@media (max-width: 400px) {
  .navbar-links {
    gap: 16px;
  }
  .navbar-links a {
    font-size: 0.6rem;
    padding: 6px 2px;
  }
}


@media (max-width: 360px) {
  .navbar-links {
    gap: 12px;
  }
  .navbar-links a {
    font-size: 0.575rem;
    padding: 6px 2px;
  }
}


html {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    
}

#aboutus .card .container {
    width: 300px;
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 20px;
}

.card{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}
.searchbox {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    border: 3px solid black;
    padding: 10px;
    bottom: 0;
    left: 0;
    align-items: left;
    margin-bottom: 50px;
}

.searchbox input,
.searchbox select {
    padding: 5px;
    
}


.background {
    width: 100%;
    height: 50vh;
    background-image: url('banner.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-column, .right-column {
    background-color: rbga(255,255,255, 0.85);
    margin-top: 50px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 12;
    border: 2px solid black;
}

.right-column {
    border: 2px solid black;
    padding-left: 25px;
}

.topnav {
    z-index: 9999;
    position: relative;
    display: flex;
    align-items: center;
}

.search-container {
    position: absolute;
    left: 0;
    right: 20px;
    display: flex;
    align-items: center;
}

.searchbar {
    padding: 10px;
    padding-right: 35px;
    font-size: 14px;
    text-align: left;
    flex: 1;
}

.search-icon {
    position: absolute;
    right: 10px;
    pointer-events: none;
    font-size: 16px;
}

.towndropdown {
    padding: 10px;
    font-size: 14px;
    text-align: left;
    margin-left: 1rem;
}
.hero-image {
    height: 500px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
#aboutus {
    position: relative;
}
#sources {
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
}
ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
ul li a:hover {
    background-color: #111111;
}
